<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Don't stop typing!</title>
  </head>
  <body>
    <h1>Don't stop typing!</h1>
    <div>
      <p>If you stop typing, the text will disappear!</p>
      <input type="text" id="myInput" placeholder="Type something..." />
      <div id="status"></div>
    </div>
    <script>
      const inputField = document.getElementById('myInput');
      const statusDiv = document.getElementById('status');
      let typingTimer;
      let clearTimer;
      const doneTypingInterval = 1000; // milliseconds = 3 seconds
      const clearTextInterval = 3000;

      // while the user is typing remove the timer
      inputField.addEventListener('input', function () {
        clearTimeout(typingTimer);
        clearTimeout(clearTimer);
        statusDiv.textContent = 'Typing...';

        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      });

      // Function to run when the user has stopped typing

      // Function to run when user has stopped typing
      function doneTyping() {
        statusDiv.textContent = 'Stopped typing';

        // First, send the data to process-input
        fetch('/process_input', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ text: inputField.value }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log('Success:', data);

            // Set timer to clear the text after clearTextInterval
            clearTimer = setTimeout(clearText, clearTextInterval);
            statusDiv.textContent = 'Will clear text soon...';
          })
          .catch((error) => {
            console.error('Error:', error);
          });

        // Function to clear the text
        function clearText() {
          fetch('/delete_text', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => response.json())
            .then((data) => {
              console.log('Text deleted:', data);
              // Clear the input field
              inputField.value = '';
              statusDiv.textContent = 'The text is gone!';
            })
            .catch((error) => {
              console.error('Error:', error);
            });
        }
      }
    </script>
  </body>
</html>
